.contenedor{
display: flex;
}

.izquierda {
width: 50%;
background-color: rgba(0, 0, 0, 0.4);
color: white;
height: 100vh;
}
.izquierda h3 {
    margin-top: 16%;
}

.derecha {
    margin-top: 5%;
width: 50%;

}

.derecha img {
    border-radius: 50%;
    
}